.title-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255,4,0);
    background: linear-gradient(90deg, rgba(255,4,0,1) 0%, rgba(0,91,255,1) 100%);
    color: white;
    font-weight: bold;
    height: 55px;
    font-size: large;
    margin-bottom: 10px;
}