<div class="container">
    <div class="row">
        <div class="col">
            <div class="row justify-content-center title-bar">
                <div class="col-3 d-flex justify-content-center align-items-center">
                   <div>
                        <img class="sfv-logo" src="../../assets/img/sfv-logo.png" alt="SFV logo">
                   </div>
                </div>
                <div class="col-6 d-flex justify-content-center align-items-center">
                    <div>
                        {{ 'GLOBAL.TITLE' | translate }}
                    </div>
                </div>
                <div class="col-3">
                </div>
            </div>
        </div>
    </div>
</div>
