<div class="container">
  <div class="row">
    <div class="col-sm-3 d-flex justify-content-center">
      <span class="material-icons md-186">login</span>
    </div>
    <div class="col-sm-6">
      <form
        [formGroup]="formLogin"
        class="form-group d-flex flex-column"
        (ngSubmit)="login()"
      >
        <label>{{ "PAGES.LOGIN.LOGIN" | translate }}:</label>
        <input type="text" formControlName="email" style="margin-bottom: 10px;"/>
        <div
          *ngIf="formLogin.get('email').invalid && formLogin.get('email').touched"
          class="alert alert-danger"
        >
          {{ "ERROR.INVALID_LOGIN" | translate }}
        </div>
  
        <label>{{ "PAGES.LOGIN.PASSWORD" | translate }}:</label>
        <input type="password" formControlName="password" style="margin-bottom: 10px;"/>
        <div
          *ngIf="
            formLogin.get('password').invalid && formLogin.get('password').touched
          "
          class="alert alert-danger"
        >
        {{ "ERROR.INVALID_PASSWORD" | translate }}
        </div>
  
        <button
          type="submit"
          [disabled]="!formLogin.valid"
          class="btn btn-primary btn-sm btn-block"
          style="margin-bottom: 10px;"
        >
          Login
        </button>
        <div *ngIf="authService.authError" class="alert alert-danger">
          {{ authService.authError }}
        </div>
      </form>
    </div>
    <div class="col-sm-3">
      <a routerLink="/signup">{{ "PAGES.LOGIN.GO_TO_SIGNUP" | translate }}</a>
    </div>
  </div>
</div>
