<!-- Modal -->
<div class="modal fade" id="AccountModal" tabindex="-1" aria-labelledby="AccountModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form [formGroup]="modalForm" class="formGroup" (ngSubmit)="save()">
      <div class="modal-content">
        <div class="modal-header">
          <h5 *ngIf="title === 'create'" class="modal-title" id="AccountModalLabel">{{ "PAGES.MODAL.TITLE_CREATE" | translate }}</h5>
          <h5 *ngIf="title === 'update'" class="modal-title" id="AccountModalLabel">{{ "PAGES.MODAL.TITLE_UPDATE" | translate }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body d-flex">
          <div class="col">
            <div class="row mb-2">
              <div class="col-4">
                {{ "PAGES.HOME.ACCOUNT_NICKNAME" | translate }}:
              </div>
              <div class="col">
                <input 
                type="text" 
                formControlName="nickname"
                style="width: 100%;" 
                placement="top"
                ngbPopover="{{ 'PAGES.MODAL.POPOVER' | translate }}">
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                {{ "PAGES.HOME.ACCOUNT_EMAIL" | translate }}:
              </div>
              <div class="col">
                <input 
                type="text"
                formControlName="email"
                style="width: 100%;">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="resetModal()">{{ "GLOBAL.CLOSE" | translate }}</button>
          <button type="submit" class="btn btn-primary" data-toggle="modal">{{ "GLOBAL.SAVE_CHANGES" | translate }}</button>
        </div>
      </div>
    </form>
  </div>
</div>
