<div class="container">
  <div class="row d-flex align-items-center pb-2">
    <div class="col-9">
      {{ currentUser.email }}
    </div>
    <div class="col-3 d-flex flex-column">
        <button type="submit" class="btn btn-warning d-flex justify-content-center" (click)="logout()">
          logout&nbsp;&nbsp;
          <span class="material-icons">logout</span>
        </button>
    </div>
  </div>
  <div>
    <table class="table">
      <thead class="thead-dark">
        <tr scope="row">
          <th scope="col" style="vertical-align: middle;">#</th>
          <th scope="col" style="vertical-align: middle;">Steam Account</th>
          <th scope="col" style="vertical-align: middle;">Email</th>
          <th scope="col" style="text-align: center;">
            <button 
              type="button" 
              class="btn btn-success btn-circle btn-sm" 
              data-toggle="modal" 
              data-target="#AccountModal">
                <div class="material-icons md-16">add</div>
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let account of accounts; let index = index">
          <th scope="row">{{ index }}</th>
          <td>{{ account.username }}</td>
          <td>{{ account.email }}</td>
          <td scope="col" style="text-align: center;">
            <div class="dropdown">
              <button class="btn btn-secondary btn-circle btn-sm" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="material-icons md-16">more_vert</div>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button 
                  class="dropdown-item" 
                  type="button" 
                  data-toggle="modal" 
                  data-target="#AccountModal"
                  (click)="fillModalToUpdate(account)">
                    Modificar
                </button>
                <button 
                  class="dropdown-item"
                  type="button"
                  data-toggle="modal"
                  data-target="#ConfirmationModal"
                  (click)="setAccountToDelete(account)">
                    Excluir
                </button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-account-modal (accountSavedEmitter)="updatePage($event)"></app-account-modal>
<app-confirmation-modal (confirmationEmitter)="confirmDeleteAccount($event)"></app-confirmation-modal>