<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <form
        [formGroup]="formLogin"
        class="form-group d-flex flex-column"
        (ngSubmit)="login()"
      >
        <label>{{ "PAGES.HOME.LOGIN" | translate }}:</label>
        <input type="text" formControlName="name" style="margin-bottom: 10px;"/>
        <div
          *ngIf="formLogin.get('name').invalid && formLogin.get('name').touched"
          class="alert alert-danger"
        >
          {{ "ERROR.INVALID_NAME" | translate }}
        </div>
  
        <label>{{ "PAGES.HOME.PASSWORD" | translate }}:</label>
        <input type="password" formControlName="password" style="margin-bottom: 10px;"/>
        <div
          *ngIf="
            formLogin.get('password').invalid && formLogin.get('password').touched
          "
          class="alert alert-danger"
        >
        {{ "ERROR.INVALID_PASSWORD" | translate }}
        </div>
  
        <button
          type="submit"
          [disabled]="!formLogin.valid"
          class="btn btn-primary btn-sm btn-block"
        >
          Login
        </button>
      </form>
    </div>
    <div class="col-sm-3">
      <a routerLink="/signup">{{ "PAGES.HOME.GO_TO_SIGNUP" | translate }}</a>
    </div>
  </div>
</div>
