<div class="container">
  <div class="row d-flex align-items-center pb-2">
    <div class="col-9">
      <div class="row">
        <div class="col-4">
          <span class="font-weight-bold"style="color: orangered;">SFV</span>SM
          <span class="font-weight-bold">{{ "PAGES.HOME.ACCOUNT" | translate }}:</span>
        </div>
        <div class="col shadow d-flex justify-content-center border border-primary rounded-pill">
          <div class="d-flex align-items-center">
            {{ currentUser.email }}
          </div>
        </div> 
      </div>
    </div>
    <div class="col-3 d-flex flex-column">
        <button type="submit" class="btn btn-warning d-flex justify-content-center" (click)="logout()">
          {{ "PAGES.HOME.LOGOUT" | translate }}&nbsp;&nbsp;
          <span class="material-icons">logout</span>
        </button>
    </div>
  </div>
  <div>
    <table class="table">
      <thead class="thead-dark">
        <tr scope="row">
          <th scope="col"></th>
          <th scope="col" style="vertical-align: middle;">
            {{ "PAGES.HOME.STEAM_ACCOUNT" | translate }}
          </th>
          <th scope="col" style="vertical-align: middle;">
            {{ "PAGES.HOME.NICKNAME" | translate }}
          </th>
          <th scope="col" style="text-align: center;">
            <button 
              type="button" 
              class="btn btn-success btn-circle btn-sm" 
              data-toggle="modal" 
              data-target="#AccountModal"
              (click)="sendCurrentAccountToChild()">
                <div class="material-icons md-16">add</div>
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let account of accounts; let i = index">
          <td scope="row" style="text-align: center;">
            <img class="border-circle" [ngClass]="{selected:account.status}" src="{{ account.avatarUrl }}" alt="Account image">
          </td>
          <td>
            <ng-template #username>
              {{ account.username }}
            </ng-template>
            <ng-template #no_username>
              {{ "PAGES.HOME.STEAM_ACCOUNT_NOT_CONFIGURED" | translate }}
            </ng-template>
            <div *ngIf="account.username !== 'false'; then username else no_username"></div>
          </td>
          <td>{{ account.nickname }}</td>
          <td scope="col" style="text-align: center;">
            <div class="dropdown">
              <button class="btn btn-secondary btn-circle btn-sm" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="material-icons md-16">more_vert</div>
              </button>
              <div class="dropdown-menu shadow" aria-labelledby="dropdownMenu2">
                <button 
                  class="dropdown-item" 
                  type="button"
                  [disabled]="account.status"
                  (click)="switchToThisAccount(account, i)">
                    {{ "PAGES.HOME.USE_THIS" | translate }}
                </button>
                <button 
                  class="dropdown-item" 
                  type="button"
                  [disabled]="!account.status"
                  (click)="manualBackup(account)">
                    {{ "PAGES.HOME.BACKUP" | translate }}
                </button>
                <button 
                  class="dropdown-item" 
                  type="button" 
                  (click)="updateThisAccount(account)">
                    {{ "PAGES.HOME.UPDATE" | translate }}
                </button>
                <button 
                  class="dropdown-item" 
                  type="button" 
                  data-toggle="modal" 
                  data-target="#AccountModal"
                  (click)="fillModalToUpdate(account)">
                  {{ "PAGES.HOME.MODIFY" | translate }}
                </button>
                <button 
                  class="dropdown-item"
                  type="button"
                  data-toggle="modal"
                  data-target="#ConfirmationModal"
                  (click)="setAccountToDelete(account)">
                  {{ "PAGES.HOME.DELETE" | translate }}
                </button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-account-modal (accountUpdatedEmitter)="updatePageWhenUpdate($event)" (accountCreatedEmitter)="updatePageWhenUpdate($event)"></app-account-modal>
<app-confirmation-modal (confirmationEmitter)="confirmDeleteAccount($event)"></app-confirmation-modal>

<div *ngIf="successMsg" class="alert alert-success message" role="alert">
  {{ "PAGES.HOME.SUCCESS_MSG" | translate }}
</div>

<div *ngIf="msgError" class="alert alert-danger message" role="alert">
  {{ "PAGES.HOME.DELETE_ERROR_MSG" | translate }}
</div>